chromadb
Flask
flask_cors
mysql_connector_repackaged
# Replacing ollama with Hugging Face and LangChain dependencies
langchain
transformers
torch --index-url https://download.pytorch.org/whl/cpu
numpy
sentence-transformers
